.image-fadeout{
            background-image: url(/css/images/logo.png);
            background-repeat: no-repeat;
            background-position: left top;
            padding-top:95px;
            margin-bottom:60px;
            -webkit-animation-duration: 10s;animation-duration: 10s;
            -webkit-animation-fill-mode: both;animation-fill-mode: both;
            -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
         }

         @-webkit-keyframes fadeOut {
            0% {opacity: 1;}
            100% {opacity: 0;}
         }

         @keyframes fadeOut {
            0% {opacity: 1;}
            100% {opacity: 0;}
         }

#logo {
  height: 500px;
  display: block;
}

.flip-container, .flip-container-flipped {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

   border: 1px solid #ccc;
}

.flip-container-flipped .flipper {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
   }

.flip-container, .flip-container-flipped, .front, .back {
   width: 320px;
   height: 427px;
}

.flipper {
   -webkit-transition: 0.6s;
   -webkit-transform-style: preserve-3d;

   -moz-transition: 0.6s;
   -moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
   -o-transform-style: preserve-3d;

   transition: 0.6s;
   transform-style: preserve-3d;

   position: relative;
}
.front, .back {
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
   backface-visibility: hidden;

   position: absolute;
   top: 0;
   left: 0;
}

.front {
   background: url(/media/sophia.png) 0 0 no-repeat;
   z-index: 2;
}

.back {
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
   transform: rotateY(180deg);

   background: url(/media/sophia.png) 0 0 no-repeat;
}

.front .name {
   font-size: 2em;
   display: inline-block;
   background: rgba(33, 33, 33, 0.9);
   color: #f8f8f8;
   font-family: Courier;
   padding: 5px 10px;
   border-radius: 5px;
   bottom: 60px;
   left: 25%;
   position: absolute;
   text-shadow: 0.1em 0.1em 0.05em #333;

   -webkit-transform: rotate(-20deg);
   -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
   transform: rotate(-20deg);
}

.answer {
   margin: auto;
}

.singlename {
   font-weight: 500;
}

.start-text {
   font-weight: 200;
}
